/*Formatação geral*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    max-height: 80vh;
    max-width:100vw;
    /*cursor: none;*/
}

body{
    background-image: url(../img/backgound/backGoundPartida.gif);
    position: static;
    display: inline-flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

div.status{
    display: block;
    padding: 15% 25%;
    height: 50vh;
    width: 100%;
    justify-content: space-around;
}

div.teclas{
    position: relative;
    padding: 15% 10%;
    height: 25vh;
    width: 40vh;
    left: 0.5vw;
}

div.playerArea{
    margin: 15vh 0;
    height: 80vh;
    width: 40%;
    display: block;
}
/*IDs-Elementos unicos da tela*/

#arena{
    background-image: url(../img/backgound/backGoundPartida.gif);
    position: static;
    height: 36.5vw; 
    width: 120vw;   
    border: solid 10px rgb(9, 0, 139) ;
    background-image: url(../img/backgound/arena.png);
    background-repeat: no-repeat;
    background-size: 101%;
    margin: 7% 0% 7% 0%;

}

#bordaArena{
    height: 22.5vw;
    width: 45vw; 
    border: solid 5px rgb(255, 255, 255);
    border-radius: 115px;
    position: relative;
    z-index: 1;
    top: 20%;
    left: 13%;
}

/*Controle 1 - setas*/

#cima{
    margin: 0 5vw;
    height: 10vh;
    width: 10vh;
    background: transparent;
    background-image: url(../img/Controles/setas/cima.png);
    border: none !important;
    background-size: 100%;
}

#esquerda{
    height: 10vh;
    width: 10vh;
    background: transparent;
    background-image: url(../img/Controles/setas/esquerda.png);
    border: none !important;
    background-size: 100%;
}

#baixo{
    height: 10vh;
    width: 10vh;
    background: transparent;
    background-image: url(../img/Controles/setas/baixo.png);
    border: none !important;
    background-size: 100%;
}

#direita{
    height: 10vh;
    width: 10vh;
    background: transparent;
    background-image: url(../img/Controles/setas/direita.png);
    border: none !important;
    background-size: 100%;
}


/*Controle 2 -wasd*/

#w{
    margin: 0 5vw;
    height: 10vh;
    width: 10vh;
    background: transparent;
    background-image: url(../img/Controles/wasd/w.png);
    border: none !important;
    background-size: 100%;
}

#a{
    height: 10vh;
    width: 10vh;
    background: transparent;
    background-image: url(../img/Controles/wasd/a.png);
    border: none !important;
    background-size: 100%;
}

#s{
    height: 10vh;
    width: 10vh;
    background: transparent;
    background-image: url(../img/Controles/wasd/s.png);
    border: none !important;
    background-size: 100%;
}

#d{
    height: 10vh;
    width: 10vh;
    background: transparent;
    background-image: url(../img/Controles/wasd/d.png);
    border: none !important;
    background-size: 100%;
}

#player1{
    background-image: url(../img/Players/nave1.png);
}

#player2{
    background-image: url(../img/Players/nave2.png);
}
/*formatação de imagem*/

img.naves{
    height: 6vh;
    padding: 0;
    margin: 0;
}

img.vidas{
    position: relative;
    height: 6vh;
    padding: 0;
    margin: -1vw;
    left: 0.5vw;
}

img.modelo{
    height: 20vh;   
    margin: 50% 0;
}

/*Eventos*/

#d:-ms-keyboard-active{
    height: 10vh;
    width: 10vh;
    background: transparent;
    background-image: url(../img/Controles/wasd/d-selected.png);
    border: none !important;
    background-size: 100%;
}

#d:-ms-keyboard-active{
    height: 10vh;
    width: 10vh;
    background: transparent;
    background-image: url(../img/Controles/wasd/d-selected.png);
    border: none !important;
    background-size: 100%;
}

#d:-ms-keyboard-active{
    height: 10vh;
    width: 10vh;
    background: transparent;
    background-image: url(../img/Controles/wasd/d-selected.png);
    border: none !important;
    background-size: 100%;
}

#d:-ms-keyboard-active{
    height: 10vh;
    width: 10vh;
    background: transparent;
    background-image: url(../img/Controles/wasd/d-selected.png);
    border: none !important;
    background-size: 100%;
}

#d:-ms-keyboard-active{
    height: 10vh;
    width: 10vh;
    background: transparent;
    background-image: url(../img/Controles/wasd/d-selected.png);
    border: none !important;
    background-size: 100%;
}

#d:-ms-keyboard-active{
    height: 10vh;
    width: 10vh;
    background: transparent;
    background-image: url(../img/Controles/wasd/d-selected.png);
    border: none !important;
    background-size: 100%;
}

#d:-ms-keyboard-active{
    height: 10vh;
    width: 10vh;
    background: transparent;
    background-image: url(../img/Controles/wasd/d-selected.png);
    border: none !important;
    background-size: 100%;
}

#d:-ms-keyboard-active{
    height: 10vh;
    width: 10vh;
    background: transparent;
    background-image: url(../img/Controles/wasd/d-selected.png);
    border: none !important;
    background-size: 100%;
}

#d:hover{
    background-image: url(../img/Controles/wasd/d-selected.png);
}