
*{
    margin: 0;
    padding: 0;   
    max-height: 70vh;
    max-width:100vw;
    box-sizing: border-box !important;
}

body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-position-x: 50%;
    background-position-y: 7%;
    background-image: url(../img/backgound/victory.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}

#deite{
    visibility: hidden;
}


li{
    list-style-type: none;
    line-height: 8vh;
}

a:hover{
    color: rgb(255, 91, 79);
}

#menu{
    height: 10vh;
    position: fixed;
    top:70%;
    left: 28%;
    text-align: center;
}

/*resoluções - responsividade*/

@media screen and (max-width: 1440px){

li{
    line-height: 10vh;
}

#menu{
    left: 26%;
}
}

@media screen and (max-width: 1030px){
    #menu{
        left: 20%;
    }
}

@media screen and (max-width: 768px){
    #menu{
        top:65%;
        left: 20%;
    }

    body{
        background-position-x: 50%;
        background-position-y: 0%;
        background-size: 105%;
    }
}

@media screen and (max-width: 420px){

    body{
        background-image: none;
        background-color: black;
    }

    h1{
        visibility: hidden;
    }

    a{
        visibility: hidden;
    }

    #deite{
        visibility: visible;
        margin-top: 10%;
    }

    #menu{
        height: 100%;
        top:35%;
        left: 0%;
        background-image: url(../img/backgound/rotate.gif);
        background-size: 100%;
        background-repeat: no-repeat;
    }   
}